* {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
  }
}

.common-container {
  width: 1000px;
  margin: 0 auto;
  font-family: 'Gmarket Sans Medium';
  box-sizing: border-box;
}

input::placeholder {
  color: #cccccc;
  font-family: Gmarket Sans Medium;
}